
@media only screen and (max-width: 600px) {

 .title{
  margin-top:550px
 }
 .catimg{
  margin-top:-900px;
  height:600px;
 }
}
.card {
  display: grid;
 
  grid-template-areas: "image" "text" "stats";

  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  
 
}




.card-text .date {
  color: rgb(255, 7, 110);
  font-size:13px;
}


.card-stats {
  grid-area: stats; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin:10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
 
}
.card:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
.card {
  transition: 0.5s ease;
  cursor: pointer;
  margin:30px;
}